[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
pymysql = "*"
cryptography = "*"
flask-jwt-extended = "*"
bcrypt = "*"
python-dotenv = "*"
alembic = "*"
mysqlclient = "*"

[dev-packages]

[scripts]
app = "python app.py"

[requires]
python_version = "3.11"
