name: CI Pipeline

on:
  workflow_dispatch:
  pull_request:
    branches: ["main"]


jobs:
 build:
  runs-on: ubuntu-latest
  environment: env

  steps:
    - name: Check Code
      uses: actions/checkout@v3

    - name: Set Up Python
      uses: actions/setup-python@v4
      with:
        python-version: 3.11

    - name: Install pipenv
      run: |
        pip install pipenv

    - name: Exect pipenv enviroment
      run: |
        pipenv install --dev

    - name: Run Tests
      env:
        SQLALCHEMY_DATABASE_URI: ${{ secrets.SQLALCHEMY_DATABASE_URI }}
        SECRET_KEY: ${{ secrets.SECRET_KEY }}
      run: |
        pipenv run pytest -s tests/. -v
