name: CI Pipeline

on:
  pull_request:
    branches: ["main"]


jobs:
 build:
  runs-on: ubuntu-latest

  steps:
    - name: Check Code
      uses: actions/checkout@v3

    - name: Set Up Python
      uses: actions/setup-python@v4
      with:
        python-version: 3.11

    - name: Install pipenv
      run: |
        pip install pipenv

    - name: Exect pipenv enviroment
      run: |
        pipenv install --dev

    - name: Run Tests
      run: |
        pipenv run pytest -s testes.py -v
